<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxActive" value="50" />
		<property name="maxIdle" value="10" />
		<property name="maxWait" value="1000" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="true" />
	</bean>

	<bean id="jedis.shardInfo1" class="redis.clients.jedis.JedisShardInfo">
		<!--
		<constructor-arg index="0" value="127.0.0.1" />
		<constructor-arg index="1" value="6379" />
		<constructor-arg index="2" value="wenbo" />
		-->
		<constructor-arg index="0" value="10.4.7.20" />
		<constructor-arg index="1" value="5060" />
		<constructor-arg index="2" value="8166007b-b565-424d-a568-45df5c0b91b5" />
	</bean> 
	<bean id="jedis.shardInfo2" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="10.4.7.20" />
		<constructor-arg index="1" value="5061" />
		<constructor-arg index="2" value="6d0608df-98cf-4f90-a6d1-ac2f072746e4" />
	</bean>
	
	<bean id="jedis.shardInfo3" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="10.4.7.20" />
		<constructor-arg index="1" value="5062" />
		<constructor-arg index="2" value="8911d37e-7374-457c-9ed2-bd67028fdcc0" />
	</bean>
	
	<bean id="jedis.shardInfo4" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="10.4.7.20" />
		<constructor-arg index="1" value="5063" />
		<constructor-arg index="2" value="a926997b-27d1-4973-9163-53a2edde446d" />
	</bean>
	
	<bean id="jedis.shardInfo5" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="10.4.7.20" />
		<constructor-arg index="1" value="5058" />
		<constructor-arg index="2" value="b3a239a9-a11e-4658-827e-6127251e79b8" />
	</bean>
	<bean id="pool" class="redis.clients.jedis.ShardedJedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1">
			<list>
				<ref bean="jedis.shardInfo1" /> 
				<ref bean="jedis.shardInfo2" />
				<ref bean="jedis.shardInfo3" />
				<ref bean="jedis.shardInfo4" />
				<ref bean="jedis.shardInfo5" />
			</list>
		</constructor-arg>
	</bean>
</beans>